@import url('https://fonts.googleapis.com/css?family=Gentium+Book+Basic|Heebo');

body {
	background-color: #9B2242;
}
header {
    background-color: #FFED74;
    border: 1px black solid;
    padding: 20px;
}
nav {
	background-color: #E8C66A;
    border: 1px black solid;
    padding: 20px;
}
section {
	background-color: #FFE2B8;
    border: 1px black solid;
    padding: 20px;
}
h1, article, .header {
	font-family: "heebo black", sans-serif;
}
h1 {
	font-size: 72px;
}
a:link {
    color: white;
    text-decoration: none;
}
p,footer {
	font-family: "Gentium Book Basic", serif;
	font-size: 32px;
	line-height: 1.5em;
	margin: 2em;
	text-align: center;
	color: #FFFFFF;
}
article {
	background-color: #E89C6C;
	color: #FFFFFF;
	font-size: 1.5em;
	text-align: center;
	border: 1px black solid;
    padding: 20px;
}
h4 {
	font-family: "Gentium Book Basic", serif;
	color: #FFFFFF;
	font-size: 1em;
	text-align: center;
}
img {
    background-size: contain;
}
aside {
	font-family: "Gentium Book Basic", serif;
	text-align: center;
	font-size: 1.5em;
	font-weight: bold;
	font-style: italic;
	color: #FFFFFF;
	background-color: #FFC675;
    border: 1px black solid;
    padding: 20px;
}
span {
	font-family: "heebo black", sans-serif;
	font-size: .8em;
}
footer {
	background-color: #FF957E;
    border: 1px black solid;
    padding: 20px;
}
ul {
	list-style-type: none;
	font-size: 28px;
	text-align: center;
	color: #FFFFFF;
}
.hero-image {
    background-image: url("paragon-vineyard2.jpg");
    background-position: center;
    height: 1200px;
    width: 2150px;
    background-size: cover;
    padding: 20px;
}
.hero-text {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #FFFFFF;
}
.topnavbar {
	float: right;
    color: white;
    font-family: "Gentium Book Basic", serif;
    text-align: center;
    text-decoration: none;
    padding: 0px 16px;
 }
 .header {
 	font-weight: bold;
 	font-size: 26px;
 }
 #slogan {
	font-family: "Gentium Book Basic", serif;
	font-weight: bold;
	font-style: italic;
	font-size: 40px;
}
#navbar {
    font-size: 24px;
	list-style-type: none;
    margin: 0;
    padding: 0;
	text-align: center;
	color: #FFFFFF;
    display: inline;
}